/* ==========================================================================
   Variáveis
   ========================================================================== */

/*
   Cores
   ========================================================================== */

$text-light: #fefefe;
$text-dark: #6C7A89;
$green: #3FC380;
$blue: #52B3D9;
$branco: #fff;



/*
   Fontes
   ========================================================================== */

   $font-base: 'Open Sans', sans-serif;

/*
   Breakpoints
   ========================================================================== */

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
