@charset "UTF-8";

@-ms-viewport { width: device-width; }

/*
   Dependencies
   ========================================================================== */

@import "modules/all";
@import "partials/all";

/*
   Base Style
   ========================================================================== */

@include mq($screen-sm) {
  *:focus { outline: none !important; }
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font: {
    family: $font-base;
    size: 10px;
  }
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &.has-no-scroll { overflow: hidden; }
}

* { box-sizing: inherit; }

body {
  background: #fff;
  margin: 0 !important;

  &.has-no-scroll { overflow: hidden; }
}

a:hover { text-decoration: none; }

img[data-original] {
  opacity: 0;
  transition: opacity .2s ease;

  &.loading { display: none; }

  &.loaded { opacity: 1; }
}

