/* ==========================================================================
   Base Classes
   ========================================================================== */

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  color: $text-dark;
  line-height: 1.5;
}

.row {
  width: calc(100% + 14px);
  margin-left: -7px;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}

.flex { display: flex; }

.transition {
  transition-duration: .3s;
  transition-timing-function: ease;
}

.ul-unstyled {
  padding: 0;
  list-style: none;
}

a {
  color: $text-dark;
  text-decoration: none;
}

body {
  font-family: $font-base;
  // overflow: hidden;

  @include mq($screen-sm) {
  }
}

html,
body { height: 100%; }
