.header {  
  position: fixed;
  width: 100%;
  height: 51px;
  text-align: center;
  transition: background-color 0.8s ease;
  background-color: #3FC380;
  z-index: 2;
  
  @include mq($screen-md) {
    text-align: left;
  }

  .hamburger {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    @include mq($screen-md) {
      display: none; 
    }
  }

  &__logo {
    position: relative;
    display: inline-block;
    margin: 5px 20px;
    width: 155px;


    &--img { 
      width: 100%; 
    }
  }

  .nav {
    position: relative;
    display: none;
    width: 100%;
    background-color: inherit;

    @include mq($screen-md) {
      position: absolute;
      display: flex;
      width: 500px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: transparent;
    }

    &__link {
      @include font-size(1.5);
      display: block;
      width: 100%;
      padding: 15px;
      color: $text-light;
      text-align: center;
    }
  }
}