// ==========================================================================
// main
// ==========================================================================
.section {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.title__home {
  @include font-size(2.5);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;

  @include mq($screen-sm) {
    @include font-size(4);
  }
}

.subtitle__home {
  @include font-size(2);
  text-align: center;
  font-weight: 300;
}

// ==========================================================================
// inicio
// ==========================================================================
.inicio {
  color: $text-dark;

  .banner__home {
    display: block;
    width: 100%;
    height: 170px;
    background-image: url('/arquivos/cover-home.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid $green;

    @include mq($screen-xs) {
      height: 250px;
      background-image: url('/arquivos/cover-home-lg.png');
    }
  }

  .title__home {
    strong { color: $green; }
  }

  .gadgets {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }
}


// ==========================================================================
// portfolio
// ==========================================================================
.portfolio {
  color: $branco;
  background-color: #6C7A89;

  .title__home {
    strong { color: $blue; }
  }
}


// ==========================================================================
// quem sou
// ==========================================================================
.quemsou {
}



// ==========================================================================
// contato
// ==========================================================================
.contato {
}
